doctype html
html(class='no-js' lang)
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Personator. Powered by Team Move.
        meta(name="description" content="Such Forecast. Much Media. So Wow.")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Playfair+Display:900i" rel="stylesheet")

        script(src='js/tablesort.min.js')
        <!-- Include sort types you need, check /js/sorts -->
        script(src='js/sorts/tablesort.number.min.js')
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")

    body
        header(class="clearfix")
            figure(class="doge")
                img(src="img/doge.jpg" alt="")
            div(class="hgroup")
                h3 Powered by Team Move
                h1 Personator
                h2 The user persona machine.

    main
        form(action="" method="" class="form")

            label(class="input")
                span Start date
                input(type="month" id="start" name="")

            label(class="input")
                span End date
                input(type="month" id="end" name="")

            fieldset
                legend Select Predefined Range
                label
                    input(type="radio" name="range" value="ytd")
                    | YTD
                label
                    input(type="radio" name="range" value="py")
                    | Prior Year
                label
                    input(type="radio" name="range" value='pym')
                    | Prior Year by Month
                label
                    input(type="radio" name="range" value='pm')
                    | Prior Month
                label
                    input(type="radio" name="range" value='mtd')
                    | MTD
                //label
                //    input(type="radio" name="range" value='pw')
                //    | Prior Week
                label
                    input(type="radio" name="range" value='p30d')
                    | Prior 30 days
                label
                    input(type="radio" name="range" value='p60d')
                    | Prior 60 days

            fieldset(class="filters")
                legend Data Filters
                label
                    input(type='checkbox' name='segment' checked)
                    | Segment
                label
                    input(type="checkbox" name="industry" checked)
                    | Industry
                label
                    input(type="checkbox" name="source")
                    | Data Source Summary
                label
                    input(type="checkbox" name="month")
                    | Month
                label
                    input(type="checkbox" name="quarter")
                    | Quarter

            input(type="button" class="submit" value="Let's Doge!")


        div(class="table-wrapper")
            table(class="results heading" cellspacing="0")
                tr
                    td(class="segment")
                    td Mortgage &amp; Banking
                    td Insurance

            table(class="results" cellspacing="0" id="table")
                thead
                    tr
                        th(data-sort-method='none' class="segment splitter") Segment
                        th Ad Engagement Score
                        //th MB Z-Score
                        th(class="splitter") Capacity
                        th Ad Engagement Score
                        //th Ins Z-Score
                        th Capacity

                tbody

    footer
         p Made with <span>♥</span> by Brian, Jerry, Rene, Aaron, Shomi &amp; Sam
         p Hackathon 2017

    script(src="js/data.js")
    script
        include ../javascript/table.js